<div class="container">
  <div [hidden]="submitted">
    <h1>Tarea Form</h1>
    <form (ngSubmit)="saveTarea()" #tareaForm="ngForm">
      <div class="form-group">
        <label for="name">DD</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="tarea.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>
	  <div class="form-group">
        <label for="descripcion">descripcion</label>
        <input type="text" class="form-control" id="descripcion"
               required
               [(ngModel)]="tarea.descripcion" name="descripcion"
               #descripcion="ngModel">
        <div [hidden]="descripcion.valid || descripcion.pristine"
             class="alert alert-danger">
          descripcion is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!tareaForm.form.valid">Enviar</button>
      <button type="button" class="btn btn-default" (click)="newTarea(); tareaForm.reset()">Agregar</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>Tarea fue enviado exitosamente!</h2>
    <div class="row">
      <div class="col-xs-3">Name:</div>
	  <div class="col-xs-9">{{ tarea.name }}</div>
    </div>
    <div class="row">	
      <div class="col-xs-3">Descripcion:</div>
	    <div class="col-xs-9">{{ tarea.descripcion }}</div>
    </div>
    
    <br>
    <button type="button" class="btn btn-primary" (click)="submitted=false">Agregar</button>
  </div>
</div>


